<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-items nav navbar-nav navbar-right">
				<li><%= link_to "Browse Matches", '#' %></li>
				<li><%= link_to "Messages", '#messages' %></li>
				<li><%= (link_to "My Profile", "#profiles/#{current_user.profile.id}") if current_user.profile %></li>
				<li><%= link_to "Logout", session_url(current_user.id), method: :delete %></li>
			</ul>
		</div>
	</div>
</div>