<h1>Messages</h1>

<ul class="inbox-options list-inline">
	<li class="view-option received<%= (currentView === 'received') ? ' selected' : '' %>">Received</li>
	<li class="view-option sent<%= (currentView === 'sent') ? ' selected' : '' %>">Sent</li>
	<li class="view-option compose<%= (currentView === 'compose') ? ' selected' : '' %>">Compose</li>
</ul>

<hr class="header-divider">