<input type="text" name="recipient_username" placeholder="Recipient's Username" class="form-control"><br>
<textarea name="body" placeholder="Message" class="form-control"></textarea><br>
<button class="send-message-button btn btn-primary btn-large">Send Message</button>