<div class="full-content">
	<div class="page-content inbox">
		<div class="sidebar"></div>
		<%= JST['messages/_header']({ currentView: currentView }) %>

		<ul class="message-box"></ul>
	</div>
</div>