<div class="close-message-button glyphicon glyphicon-remove-circle"></div>

<h3>Message from <%= message.escape('sender_username') %> to <%= message.escape('recipient_username') %></h3>

<p><%= message.escape('body') %></p>

<form class='reply-form'>
	<textarea name="body" class="form-control" placeholder="Reply to this message..."></textarea><br>

	<button class="send btn btn-large btn-success">Send Reply</button>
</form>