<form>
	<label>Email: 
		<input type="text" value="<%= @user.email %>" name="user[email]" class="form-control">
	</label><br>

	<label>Username: 
		<input type="text" value="<%= @user.username %>" name="user[email]" class="form-control">
	</label><br>

	<label>Password: 
		<input type="password" name="user[email]" class="form-control">
	</label><br>

	<input type="submit" value="Create User" class="btn btn-larg btn-primary">
</form>