<style>
	body {
    background-image: url('http://i.imgur.com/WawafgZ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	}
</style>

<div class="signup-page">
	<div class="signup-form input-group">
		<h1>Create an Account</h1>
		<%= render partial: 'form' %>
	</div>
</div>