/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*$text-dark: #04012E;
$text-light: #CFCFD1;
$darkest: #08053F;
$darker: #18145B;
$root: #363377;
$lighter: #5F5C92;
$lightest: #9391AE;
$highlight: #BABAC3;*/

$text-dark: #04012E;
$text-light: #CFCFD1;
$darkest: rgb(24,46,107);
$darker: #18145B;
$root: rgb(40,85,162);
$lighter: #5F5C92;
$lightest: #9391AE;
$highlight: #BABAC3;
$page-content: rgb(243,245,249);
$side-bar: rgb(24,46,107);



body {
	background-color: $root;
	overflow: scroll;
}

.page-content {
	background-color: $page-content;
	padding: 15px;
}

.spinner {
	margin: 0 auto;
	height: 20px;
}

.error {
	display: block;
	border: 1px solid red;
	padding: 5px;
	border-radius: 4px;
	background-color: rgba(255, 0, 0, .5);
}

.logo {
	width: 220px;
	position: absolute;
}