// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profiles-index {
	list-style-type: none;
}

.profiles-index-item {
	display: block;
	float: left;
	background-color: cornflowerblue;
	border-radius: 5px;
	width: 30%;
	height: 300px;
	margin: 6px;
	text-align: center;
	transition: background-color 200ms;
}

.profiles-index-item:hover {
	background-color: rgba(130, 179, 267, 1);
}

.index-item-photo {
	width: 85%;
	height: 70%;
	border-radius: 50%;
}

.profile-list {
	list-style-type: none;	
}

.username {
	margin: 20px;
	padding: 0px;
}

.username:hover {
	cursor: pointer;
}

.profile-photo {
	width: 200px;
	height: 130px;
	border-radius: 4px;
}

.header-info > * {
	float: left;
	margin: 10px;
}

.actions {
	float: right;
	padding: 20px;
}

.features {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}