// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text-dark: #04012E;
$text-light: #CFCFD1;
$darkest: #08053F;
$darker: #18145B;
$root: #363377;
$lighter: #5F5C92;
$lightest: #9391AE;
$highlight: #BABAC3;

.index {
	text-align: center;
}

.show {
	color: $text-dark;
}

.profiles-index {
	list-style-type: none;
	display: inline-block;
}

.profiles-index-header {
	color: $text-light
}

.profiles-index-item {
	display: block;
	float: left;
	background-color: $root;
	color: $text-light;
	border-radius: 5px;
	width: 30%;
	height: 305px;
	margin: 6px;
	text-align: center;
	transition: background-color 100ms;
	transition: color 50ms;
}

.profiles-index-item:hover {
	background-color: $highlight;
	cursor: pointer;
	color: $text-dark;
}

.index-item-photo {
	width: 100%;
	height: 65%;
}

.profile-list {
	list-style-type: none;	
}

.username {
	margin: 10px;
	padding: 0px;
}

.profile-photo {
	width: 200px;
	height: 130px;
	border-radius: 4px;
}

.header-info > * {
	float: left;
	margin: 10px;
}

.actions {
	float: right;
	padding: 20px;
	width: 250px;
}

.action {
	width: 100%;
}

.features {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.search-bar {
	position: absolute;
	padding: 10px;
	width: 200px;
	height: 400px;
	left: -200px;
	top: 100px;
	background-color: $darkest;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	color: $text-light;
}

.search {
	float: right;
}

.small-select {
	width: 20px;
}

.about-me {
	color: $text-dark;
}

.looking-for {
	color: $text-dark;
}

.edit, .save {
	text-align: center;
}

.edit:hover, .save:hover {
	cursor: pointer;
}

.edit-profile-button, .save-profile-button {
	font-size: 40px;
}

.load {
	
}

.load:hover {
	cursor: pointer;
}

.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}