// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profiles-index {
	list-style-type: none;
}

.profiles-index-item {
	display: block;
	float: left;
	background-color: cornflowerblue;
	border-radius: 5px;
	width: 30%;
	height: 300px;
	margin: 6px;
	text-align: center;
	transition: background-color 200ms;
}

.profiles-index-item:hover {
	background-color: darkred;
}

.index-item-photo {
	width: 75%;
	height: 75%;
	border-radius: 4px
}