// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
	width: 300px;
	height: 350px;
	background: rgba(180,180,190,.8);
	/*background: white;*/
	border-radius: 3px;
	padding: 20px 10px;
	margin: 25px auto;
	text-align: center;
	color: white;
	box-shadow: 4px 4px 5px rgba(30,30,30,.5);

	.errors {
		color: white;
		margin: 10px;
	}
}

.login-input {
	margin: 10px auto;
}

.register, .login {
	width: 41%;
	margin: 10px;
}

.demo {
	width: 91%;
	margin: 10px;
}