// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-form {
	position: relative;
	width: 400px;
	height: 470px;
	background: rgba(180,180,190,.8);
	border-radius: 4px;
	padding: 20px 10px;
	margin: 25px auto;
	text-align: center;

	box-shadow: 4px 4px 5px rgba(30,30,30,.5);

	.errors {
		color: white;
		margin: 10px;
	}
}

.signup-input {
	margin: 10px auto;
}

.sign-in-button {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 8px;
}

