// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-form {
	width: 400px;
	height: 470px;
	background: rgba(130,130,130,.7);
	border-radius: 4px;
	padding: 20px 10px;
	margin: 25px auto;
	text-align: center;
}

.signup-input {
	margin: 10px auto;
}