		<ul class="profile-text-fields profile-list">
			<li><h5>Self summary: </h5><textarea class="self-summary form-control" name="self_summary"><%= profile.escape('self_summary') %></textarea></li>
			<li><h5>Good at: </h5><textarea class="good-at form-control" name="good_at"><%= profile.escape('good_at') %></textarea></li>
			<li><h5>Message if: </h5><textarea class="message-if form-control" name="message_if"><%= profile.escape('message_if') %></textarea></li>
		</ul>