<% if (profile.get('bookmark_id')) { %>
	<button class="action btn btn-default btn-primary"><span class="glyphicon glyphicon-star-empty"></span> Remove Bookmark</button>
<% } else { %>
	<button class="action btn btn-default btn-primary"><span class="glyphicon glyphicon-star"></span> Bookmark Fighter</button>
<% } %>