	<h4 class="profile-header">Features</h4>
		<ul class="profile-features profile-list list-group">
			<li class="height list-group-item">Height: <%= profile.escape('height') %></li>
			<li class="weight list-group-item">Weight: <%= profile.escape('weight') %></li>
			<li class="body_type list-group-item">Body Type: <%= profile.escape('body_type') %></li>
			<li class="weight_class list-group-item">Weight Class: <%= profile.escape('weight_class') %></li>
		</ul>