<% if (profile.get('like_id')) { %>
	<button class="action btn btn-default btn-primary"><span class="glyphicon glyphicon-thumbs-down"></span> 'Unlike' Fighter</button>
<% } else { %>
	<button class="action btn btn-default btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> 'Like' Fighter</button>
<% } %>