<% if (profile.get('like_id')) { %>
	<button class="action btn btn-default btn-primary">'Unlike' Fighter</button>
<% } else { %>
	<button class="action btn btn-default btn-primary">'Like' Fighter</button>
<% } %>