<div class="looking-for">
	<h4 class="profile-header">Interested in:</h4>
	<div class="profile-looking-for">
		<ul class="profile-looking-for-fighter-types profile-list">
			<label>
				<input type="checkbox" name="looking_for_wrestler"
					<% if (profile.escape('looking_for_wrestler') === 'true') { %>
						checked="checked"
					<% } %>
				> Wrestlers
			</label><br>

			<label>
				<input type="checkbox" name="looking_for_boxer"
					<% if (profile.escape('looking_for_boxer') === 'true') { %>
						checked="checked"
					<% } %>
				> Boxers
			</label><br>

			<label>
				<input type="checkbox" name="looking_for_mma_fighter"
					<% if (profile.escape('looking_for_mma_fighter') === 'true') { %>
						checked="checked"
					<% } %>
				> MMA Fighters
			</label><br>

			<label>
				<input type="checkbox" name="looking_for_other_styles"
					<% if (profile.escape('looking_for_other_styles') === 'true') { %>
						checked="checked"
					<% } %>
				> Other
			</label><br>
		</ul>

		<h5 class="looking-for-header">Prefers:</h5>
		<ul class="profile-looking-for-gender profile-list">
			<label>
				<input type="checkbox" name="looking_for_men"
					<% if (profile.escape('looking_for_men') === 'true') { %>
						checked="checked"
					<% } %>
				> Men
			</label><br>

			<label>
				<input type="checkbox" name="looking_for_women"
					<% if (profile.escape('looking_for_women') === 'true') { %>
						checked="checked"
					<% } %>
				> Women
			</label><br>
		</ul>

		<h5 class="looking-for-header">Looking For:</h5>
		<ul class="profile-looking-for-partner-type profile-list">
			<label>
				<input type="checkbox" name="looking_for_sparring_partner"
					<% if (profile.escape('looking_for_sparring_partner') === 'true') { %>
						checked="checked"
					<% } %>
				> Sparring Partners
			</label><br>

			<label>
				<input type="checkbox" name="looking_for_opponent"
					<% if (profile.escape('looking_for_opponent') === 'true') { %>
						checked="checked"
					<% } %>
				> Opponents
			</label><br>
		</ul>
	</div>
</div>