<div class="full-content">
	<div class="page-content index">
		<div class='sidebar'></div>
		<h1 class="profiles-index-header">Matches</h1>
		<hr>
		<div class="search-bar"></div>
		<ul class="profiles-index"></ul>
		<div class="load"></div>
	</div>
</div>