<div class='navbar'></div>

<div class="page-content index">
	<div class="search-bar"></div>
	<h1 class="profiles-index-header">Your Matches</h1>
	<ul class="profiles-index"></ul>
	<div class="load">
		<div class="btn btn-large btn-primary">Load More Users</div>
	</div>
</div>