<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-items nav navbar-nav navbar-right">
				<li><a href='#'>Browse Matches</a></li>
				<li><a href='#/messages'>Messages</a></li>
				<li><a href='#/profiles/<%= Kocupid.currentUserId %>'>My profile</a></li>
				<li><a class="logout" href=''>Logout</a></li>
			</ul>
		</div>
	</div>
</div>