<ul class="navbar-items">
	<li class="navbar-item"><a href='#'>Browse Matches</a></li>
	<li class="navbar-item"><a href='#/messages'>Messages</a></li>
	<li class="navbar-item"><a href='#/profiles/<%= Kocupid.currentUserId %>'>My profile</a></li>
	<li class="navbar-item"><a class="logout" href=''>Logout</a></li>
</ul>