<ul class="sidebar-items">
	<li class="sidebar-item matches"><a href='#/profiles'>Browse Matches</a></li>
	<li class="sidebar-item messages"><a href='#/messages'>Messages</a></li>
	<li class="sidebar-item profile"><a href='#/profiles/<%= Kocupid.currentUserId %>'>My profile</a></li>
	<li class="sidebar-item logout">Logout</li>
</ul>