<ul class="sidebar-items">
	<li class="sidebar-item top matches"><h4 class="sidebar-item-name">Browse Matches</h4></li>
	<li class="sidebar-item messages"><h4 class="sidebar-item-name">Messages</h4></li>
	<li class="sidebar-item profile"><h4 class="sidebar-item-name">My profile</h4></li>
	<li class="sidebar-item bottom logout"><h4 class="sidebar-item-name">Logout</h4></li>
</ul>